/* 
.why-box {
  padding: 10px 15px;
}

.why-sub {
  font-size: 14px;
  text-transform: uppercase;
  color:  var(--primary-color);
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.why-title {
    text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  color: fff;
  margin-bottom: 15px;
  line-height: 1.3;
}

.why-box p {
  font-size: 16px;
  text-align: justify;
  color: #fff;
  line-height: 1.6;
} */

.Homestrategy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px auto;
  gap: 20px;
}

.Homestrategy-card {
  background: rgba(86, 125, 201, 0.15);
  border-radius: 12px;
  width: 420px;
  padding: 28px 22px;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.Homestrategy-card:hover {
  background: rgba(86, 125, 201, 0.25);
  transform: translateY(-5px);
}

.Homestrategy-card i {
  font-size: 40px;
  margin-bottom: 15px;
  /* color: #5ba0f5; */
  color: #ffa100;
}

.Homestrategy-card h3 {
  color: #063F9C;
}

.Homestrategy-card p {
  color: #004995;
}
.Homestrategy-card span
{
  color: #f67b0c;
  margin-left: 12px;
}