/*  
  .loader {
    postion: relative;
    display: flex;
  }
  
  .loader span {
    width: 50px;
    height: 200px;
    margin: 0 20px;
    background: #fd7e14;
    animation: animate 2s linear infinite;
  }
  
  .loader span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .loader span:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader span:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .loader span:nth-child(4) {
    animation-delay: 0.9s;
  }
  
  @keyframes animate 
  {
    0% {
      box-shadow: 0 0 0 rgba(0,0,0,0.5);
      opacity: 0;
      transform: translateX(-30px) scale(1);
    }
    50% {
      box-shadow: 0 20px 50px rgba(0,0,0,0.5);
      opacity: 1;
      transform: translateX(0px) scale(1.2);
    }
    100% {
      box-shadow: 0 0 0 rgba(0,0,0,0.5);
      opacity:0;
      transform: translateX(30px) scale(1);
    }
  } */

  .loader {
    position: relative;
  }
  
  .loader span {
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 100px;
    letter-spacing: 5px;
    font-weight: 600;
  }
  
  .loader span:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 0.6px rgb(128, 198, 255);
  }
  
  .loader span:nth-child(2) {
    color: rgb(128, 198, 255);
    -webkit-text-stroke: 5px rgb(128, 198, 255);
    animation: uiverse723 3s ease-in-out infinite;
  }
  
  @keyframes uiverse723 {
    0%, 100% {
      clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
       54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
  
    50% {
      clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
       51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
  }