.why-choose {
  text-align: center;
  color: #f67b0c;
}

.why-choose h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}

.why-choose p {
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
}

.choose-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px auto;
}

.choose-card {
  background: rgba(86, 125, 201, 0.15);
  border-radius: 12px;
  width: 300px;
  padding: 28px 22px;
  transition: 0.3s ease-in-out;
}

.choose-card:hover {
  background: rgba(86, 125, 201, 0.25);
  transform: translateY(-5px);
}

.choose-card i {
  font-size: 36px;
  margin-bottom: 15px;
  color: #5ba0f5;
}

.choose-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}

.choose-card p {
  font-size: 14px;
  opacity: 0.9;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .choose-grid {
    flex-direction: column;
  }
}

.Ourservices-section {
  padding: 50px 20px;
  text-align: center;
}

.Ourservices-section h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 50px;
  text-align: left;
}

.Ourservices-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin: auto;
}

.Ourservice-card {
  background: rgba(86, 125, 201, 0.15);
  border-radius: 15px;
  padding: 35px 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: .3s ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Ourservice-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.13);
}

.Ourservice-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #005be9;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.Ourservice-icon i {
  font-size: 28px;
  color: #fff;
}

.Ourservice-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.Ourservice-card p {
  font-size: 14px;
  color: #a5a4a4;
  max-width: 240px;
}


/* Extra small screens fix */
@media (max-width: 400px) {
  .service-card {
    padding: 25px 18px;
  }

  .service-icon {
    width: 60px;
    height: 60px;
  }

  .service-icon i {
    font-size: 24px;
  }
}

/* OUTER WRAPPER */
.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 0px 20px;
}
.marquee-wrapper h3{
  margin-bottom: 20px;
}

.marquee-track {
  display: flex;
  align-items: center;
  gap: 50px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.marquee-track img {
  height: 300px;
  width: auto;
  object-fit: contain;
  user-select: none;
  /* pointer-events: none; */
  transition: transform 0.3s ease;
}

.marquee-track img:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* ===== RESPONSIVE ===== */

/* Tablets */
@media (max-width: 900px) {
  .marquee-track {
    gap: 35px;
  }

  .marquee-track img {
    height: 60px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .marquee-track {
    gap: 25px;
  }

  .marquee-track img {
    height: 45px;
  }
}
.ourApproach
{
  display: flex;
  padding: 50px;
  justify-content: space-between;
  gap: 20px;
}
.approach p
{
  max-width: 700px;
}