.servicesSection {
  display: grid;
  justify-content: center;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.serivecsSection-card {
  background: rgba(86, 125, 201, 0.15);
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  padding: 28px 22px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  /* Remove underline for Link */
}

.serivecsSection-card:hover {
  background: rgba(86, 125, 201, 0.25);
  transform: translateY(-5px);
}

.serivecsSection-card .icon {
  font-size: 36px;
  margin-bottom: 15px;
  color: #5ba0f5;
}

.serivecsSection-card h3 {
  color: #063F9C;
  margin-bottom: 12px;
}

.serivecsSection-card p {
  color: #004995;
  font-size: 14px;
}

.serivecsSection-card span {
  color: #f67b0c;
  margin-left: 12px;
}

/* Responsive tweaks */
@media (max-width:991px) {
  .servicesSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .serivecsSection-card {
    width: 90%;
  }

  .servicesSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .serivecsSection-card {
    width: 100%;
    padding: 20px;
  }

  .servicesSection {
    grid-template-columns: 1fr;
    margin: 10px;
  }
}