@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.navbar {
  background-color: #063F9C;
  /* dark background */
  padding: 10px 0;
  box-shadow: 0px 10px 60px -13px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.brandlogo {
  height: 55px;
  width: auto;
}

/* Navigation Links */
.nav-link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 15px;
}

.nav-link:hover {
  color: #ff8800 !important;
}

/* Header Layout */
.header-container {
  padding: 0 20px;
}

.navbar-nav {
  align-items: center;
  gap: 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff8800' viewBox='0 0 30 30'%3e%3cpath stroke='orange' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.dropdown-custom {
  position: relative;
}

.dropdown-toggle-custom {
  cursor: pointer;
  padding: 8px 0;
}

.dropdown-menu-custom {
  position: absolute;
  top: 58px;
  left: 0;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 0;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 999;
 
}

.dropdown-custom:hover .dropdown-menu-custom {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Inside items */
.dropdown-item-custom {
  display: block;
  padding: 12px 15px;
  width: 100%;
   color: #063F9C;
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

/* Hover effect on links */
.dropdown-item-custom:hover {
  background: #0210634b;
  color: #ffff;
  border-radius: 6px;
}

/* Responsive: Center Nav, Download Btn on Bottom */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-collapse {
    padding-top: 15px;
  }

  .navbar-brand {
    margin: auto;
  }

  .d-flex {
    justify-content: center !important;
  }

  .dropdown-menu-custom {
    position: static;
    width: 100%;
    box-shadow: none;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    background: transparent;
  }

  .dropdown-item-custom {
    padding-left: 25px;
  }

  .dropdown-custom:hover .dropdown-menu-custom {
    transform: none;
  }
}