@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.navbar {
  background-color: var(--secondary-color); /* dark background */
  padding: 10px 0;
  box-shadow: 0px 10px 60px -13px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.brandlogo {
  height: 55px;
  width: auto;
}

/* Navigation Links */
.nav-link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 15px;
}

.nav-link:hover {
  color: #ff8800 !important;
}

/* Header Layout */
.header-container {
  padding: 0 20px;
}

.navbar-nav {
  align-items: center;
  gap: 10px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff8800' viewBox='0 0 30 30'%3e%3cpath stroke='orange' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Responsive: Center Nav, Download Btn on Bottom */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-collapse {
    padding-top: 15px;
  }

  .navbar-brand {
    margin: auto;
  }

  .d-flex {
    justify-content: center !important;
  }
}
