/* .slick-slide img {
  width: 100%;
  height: auto;
}
.slick-slide {
  text-align: center;
} */

.client-slider-container {
  overflow: hidden;
  width: 100%;
}

.client-slider {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scroll 60s linear infinite;
}


.client-slider-right {
  animation-direction: reverse;
}

.client-item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 80px;
}

.client-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}
@keyframes scroll
{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .client-slider {
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .client-item img {
    max-width: 80px;
    /* smaller on mobile */
  }
}