/* .service-card {
    color: black;
    background-size: 200% 200%;
    background-image: linear-gradient(to right top, #FA8F06 50%, white 50%);
    background-position: 80% 20%;
    transition: all .3s;
    position: relative;
    text-align: center;
    border-radius: 5px;
    height: 100%;
}

.service-card::before {
    position: absolute;
    content: " ";
    display: block;
    height: 0px;
    width: 0px;
    left: 10px;
    bottom: 10px;
    border: 10px solid white;
    border-top-color: transparent;
    border-right-color: transparent;
    transition: all .3s;

}

.service-card svg {
    transform: scale(3);
    margin: 30px;
}

.service-card:hover {
    background-position: 20% 80%;
    color: white;
}

.service-card:hover h4 {
    color: #1C5ABC;
    text-shadow: 1px 1px 1px white;
}

.service-card:hover::before {

    height: 200px;
    width: 200px;
} */

.flip-card {
    width: 100%;
    height: 350px;
    perspective: 1200px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
    border-radius: 16px;
    box-shadow: 1px 1px 16px rgb(7 24 106 / 58%);

}

.no-flip {
    transform: none !important;
    transition: none !important;
}

.no-flip .flip-card-inner {
    transform: none !important;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-mobile .flip-card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
}

.card-face::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Semi-transparent black color (RGBA: 0, 0, 0, 0.5) */
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 2;
    border-radius: 15px;
}

.front-overlay-text {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    z-index: 3;
}

.flip-card-back {
    transform: rotateY(180deg);
    background: #063F9C;
    border-radius: 15px;
}

.back-text {
    font-weight: 600;
    line-height: 1.5;

}

#backText {
    font-weight: 600;
    line-height: 1.5;
    color: #fff !important;
    z-index: 4;
}

@media (max-width:1400px) {
    .front-overlay-text {
        font-size: 2rem;
    }
}